.contain-detail {
    /* background-color: var(--p3); */
    height: auto;
    /* width: ; */
}

.image-detail {
    margin: 20px 0;
    border-radius: 100px;
    border: solid var(--p3) 2px;
    height: 60vh;
    width: 60vw;
}

.contents {
    display: flex;
    background-color: var(--p1);
    border-top: solid var(--p3) 10px;
    border-bottom: solid var(--p3) 10px;
}

.name-description {
    padding: 50px 0;
    margin-left: 50px;
    padding-right: 50px;
    text-align: left;
    width: 60%;
    border-right: solid var(--p3) 5px;
}

.details {
    display: flex;
    margin: auto 
}
.details-one {
    margin: 6vh
}
