.form {
    margin-top: 20px;
    margin-left: 20px;
    position: relative;
    border-radius: 30px;
    padding: 3px 50px 3px 10px;
}

.input {
    outline: none;
    height: 42px;
    font-size: 15px;
    border: 0;
    border-radius: 10px;
    width: 150%;
}

.button-input {
    position: absolute;
    right: -60px;
    top: 3px;
    background-color: var(--p3);
    border-radius: 10px;
    font-size: 15px;
    border: 0;
    color: #FFF;
    width: 65px;
    height: 42.9px;
    outline: 0;
}

.button-input:hover {
    border: solid 10px transparent;
    background-color: blueviolet;
}
