.container {
    display: flex;
    margin: 40px 20px
}

.form-box {
    border: 2px solid var(--p2);
    background-color: var(--p3) ;
    width: 540px;
    height: auto;
    border-radius: 100px;
    padding: 30px 0;
    
}

.form-box .genres-items {
    margin: 0 50px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.form-box div {
    margin: 30px 0;
}

.image-div {
    width: 40%;
    margin-top: 80px;
    margin-left: 50px;
}

p.danger {
    margin: 5px auto;
    width: 20vw;
    border-radius: 7px;
    border: solid red 1px;
    background-color: white;
    color: red;
    font-size: 15px;
}
  
input.danger {
border: 2px solid red;
}